//PAGE CONTACTO

.grid-container {
    main {
        .portada-contacto img {
            width: 200px;
            height: 200px;
            margin-bottom: 40px;

            .titulo-form {
                margin: 30px;
            }
        }
    }
}
